<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sayaç Ölçüm Verileri</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="search-form">
        <mat-form-field appearance="outline">
          <input matInput placeholder="8 haneli seri numarası" (input)="onSerialNumberChange($event)">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="openAddMeterModal()">
          <mat-icon>add</mat-icon>
          Ekle
        </button>
      </div>

      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

      <mat-error *ngIf="error">{{error}}</mat-error>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="serialNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sayaç Seri Numarası</th>
          <td mat-cell *matCellDef="let meter">{{meter.serialNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="readingTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Okunma Tarihi</th>
          <td mat-cell *matCellDef="let meter">{{meter.readingTime | date:'medium'}}</td>
        </ng-container>

        <ng-container matColumnDef="lastIndex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Son Endeks</th>
          <td mat-cell *matCellDef="let meter">{{ meter.lastIndex }}</td>
        </ng-container>

        <ng-container matColumnDef="voltageValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Voltaj</th>
          <td mat-cell *matCellDef="let meter">{{ meter.voltageValue }}</td>
        </ng-container>

        <ng-container matColumnDef="currentValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Akım</th>
          <td mat-cell *matCellDef="let meter">{{ meter.currentValue }}</td>
        </ng-container>

        <tr mat-header-row
          *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row
          *matRowDef="let row; columns: displayColumns;">
        </tr>
      </table>
      <div class="modal" [class.show-modal]="showModal">
        <div class="modal-content" mat-dialog-content>
          <h2>Yeni Sayaç Ekle</h2>

          <form [formGroup]="meterForm">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Seri Numarası</mat-label>
              <input matInput formControlName="serialNumber">
              <mat-error *ngIf="meterForm?.get('serialNumber')?.hasError('required')">
                Seri numarası zorunludur
              </mat-error>
              <mat-error
                *ngIf="meterForm?.get('serialNumber')?.hasError('minlength') || meterForm.get('serialNumber')?.hasError('maxlength')">
                Seri numarası 8 karakter olmalıdır
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Son Endeks</mat-label>
              <input matInput type="number" formControlName="lastIndex">
              <mat-error *ngIf="meterForm?.get('lastIndex')?.hasError('required')">
                Son endeks zorunludur
              </mat-error>
              <mat-error *ngIf="meterForm?.get('lastIndex')?.hasError('min')">
                Son endeks 0'dan büyük olmalıdır
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Voltaj</mat-label>
              <input matInput type="number" formControlName="voltage">
              <mat-error *ngIf="meterForm?.get('voltage')?.hasError('required')">
                Voltaj zorunludur
              </mat-error>
              <mat-error *ngIf="meterForm?.get('voltage')?.hasError('min')">
                Voltaj 0'dan büyük olmalıdır
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Akım</mat-label>
              <input matInput type="number" formControlName="current">
              <mat-error *ngIf="meterForm?.get('current')?.hasError('required')">
                Akım zorunludur
              </mat-error>
              <mat-error *ngIf="meterForm?.get('current')?.hasError('min')">
                Akım 0'dan büyük olmalıdır
              </mat-error>
            </mat-form-field>
          </form>

          <div class="modal-actions">
            <button mat-button (click)="closeModal()">İptal</button>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!meterForm.valid">
              Kaydet
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>