.report-form {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 2rem;
  
    mat-form-field {
      flex: 1;
    }
  }
  
  table {
    width: 100%;
    margin-top: 2rem;
  }
  
  .mat-column-actions {
    width: 100px;
    text-align: center;
  }