<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports" routerLinkActive="active">Raporlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meter-data" routerLinkActive="active">Sayaç Verisi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>